* text=auto

*.cpp text diff=cpp linguist-language=C++
*.cc  text diff=cpp linguist-language=C++
*.cxx text diff=cpp linguist-language=C++
*.hpp text diff=cpp linguist-language=C++
*.h   text diff=cpp linguist-language=C++
*.c   text diff=cpp linguist-language=C++

*.py  text diff=python linguist-language=Python
*.pyi text diff=python linguist-language=Python
*.pyx text diff=python linguist-language=Python

docs/*        linguist-documentation
vendor/*      linguist-vendored
build/*       linguist-vendored
third_party/* linguist-vendored
.venv/*       linguist-vendored
venv/*        linguist-vendored
